<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>社員情報登録・更新</title>
</head>
<body>
	<div class="header"></div>
	<div class="main">
		<div th:if="${errors}">
			<ul>
				<li th:each="error : ${errors}"><span
					th:text="${error.defaultMessage}"></span></li>
			</ul>
		</div>

		<form th:action="@{/empl/add}" th:object="${infoForm}"
			th:method="post">


			<table>
				<tr>
					<td><label for="id">社員ID</label></td>
					<td><input type="text" name="id"th:field="*{id}"  readonly ></td>
				</tr>
				<tr>
					<td><label for="name">氏名</label></td>
					<td><input type="text" th:field="*{name}" id="name"></td>
				</tr>
				<tr>
					<td><label for="dept-select">所属</label></td>
					<td><select name="dept" th:field="*{dept}" id="dept-select" >
							<option value="">--Please choose an option--</option>
							<option value="第一部">第一部</option>
							<option value="第二部">第二部</option>
							<option value="第三部">第三部</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="gender">性別</label></td>
					<td><input type="radio" th:field="*{gender}" name="gender"
						id="men" value="男">男</td>
					<td><input type="radio" th:field="*{gender}" name="gender"
						id="weman" value="女">女</td>
				</tr>

				<tr>
					<td><label for="phoneNum">電話番号</label></td>
					<td><input type="text" th:field="*{phone_Number}"
						name="phoneNum"></td>
				</tr>

				<tr>
					<td><label for="entryDate">入社年月日</label></td>
					<td><input type="date" th:field="*{entry_Date}"
						name="entryDate"></td>
				</tr>
				<tr>
					<td><label for="age">年齢</label></td>
					<td><input type="text" th:field="*{age}" name="age"></td>
				</tr>

				<tr>
					<td><label for="email">メールアドレス</label></td>
					<td><input type="email" th:field="*{email}" name="email"></td>
				</tr>

				<tr>
					<td><input type="submit" name="add" value="登録"></td>
					<td>
						<button type="button"
							onclick="location.href='employeeUpdate/close.html';"
							class="button-style">閉じる</button>
					</td>
				</tr>

			</table>
		</form>
	</div>

	<div class="footer"></div>


</body>
</html>