<!DOCTYPE html>
<link href="/css/add.css" rel="stylesheet"></link>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="NewFile2.css" rel="stylesheet">
<title>勤怠情報一覧（月別）</title>
</head>
<body>
<div>
	<div class="width_50p float_L">
		<table class="width_50p">
			<tr>
				<th><label>社員ID</label></th>
				<td><input type="test" name="user_Id" th:value="${user_id}" ></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td>OOOO</td>
			</tr>
			<tr>
				<th>所属部門</th>
				<td>OOOO</td>
			</tr>
		</table>
		
		<table class="width_50p">
			<tr>
				<th><label for="year">年度</label></th>
				<td>
					<form action="#">
				      <select name="years" id="year" size="1" class="drop_down">
				        <option value="2023">2023年</option>
				        <option value="2022">2022年</option>
				        <option value="2021">2021年</option>
				        <option value="2020">2020年</option>
				      </select>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div class="float_R">
		<input class="button" type="submit" value="ログアウト" />
	</div>
	<div class="clearfix">
		<table class="width_100p">
			<tr>
				<th>月</th>
				<th>営業日数</th>
				<th>出勤日数</th>
				<th>欠勤日数</th>
				<th>実働時間(H)</th>
				<th>残業時間(H)</th>
				<th>コメント</th>
			</tr>
			<tr>
				<th>1</th>
				<td td:text="users : ${userlist}"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>2</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>3</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>4</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>5</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>6</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>7</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>8</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>9</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>10</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>11</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>12</th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>